/*===== skills =====*/
.skills{
    &__content{
        row-gap: 3.5rem;
    }
    &__title{
        font-size: var(--h3-font-size);
        text-align: center;
        margin-bottom: 1.5rem;
    }
    &__box{
        display: flex;
        justify-content: center;
        column-gap: 3.5rem;
    }
    &__group{
        display: grid;
        align-content: flex-start;
        row-gap: 1rem;
    }
    &__data{
        display: flex;
        column-gap: .5rem;

        & i{
            font-size: 1rem;
            color: var(--first-color);
        }
    }
    &__name{
        font-size: var(--normal-font-size);
        font-weight: 500;
        line-height: 18px;
    }
    &__level{
        font-size: var(--smaller-font-size);
    }
}