/*===== google fonts =====*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");
/*===== variables css =====*/
:root {
  --header-height: 3rem;
  /*========== colors ==========*/
  /* Purple: hsl(250, 66%, 75%) */
  /*  Blue: hsl(207, 90%, 72%)  */
  /*  Pink: hsl(356, 66%, 75%)  */
  /*  Teal: hsl(174, 63%, 62%)  */
  --hue: 45;
  --sat: 98%;
  --lig: 60%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --popup-box-shadow: #000;
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --text-color-lighten: hsl(var(--hue), 4%, 82%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  /*===== font and typography =====*/
  --body-font: "Jost", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*===== font weight =====*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*===== margins =====*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*==== z index ====*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*===== base =====*/
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.5;
  transition: none;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*===== theme =====*/
/*===== button dark/light =====*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  color: var(--title-color);
  font-size: 1.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.change-theme:hover {
  color: var(--first-color);
}

/* variables dark */
body.dark-theme {
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
}

/* color correction */
.dark-theme .footer {
  background-color: var(--body-color);
  color: var(--text-color);
}

.dark-theme .discord {
  background-color: var(--container-color);
}

.dark-theme .filters__content {
  background-color: var(--container-color);
}

/*===== layout =====*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* preloader */
.preloader {
  background-color: #222222;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 150;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.preloader.opacity-0 {
  opacity: 0;
}
.preloader .loader {
  height: 40px;
  width: 40px;
  border: 4px solid #e3e3e3;
  border-radius: 50%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
/*===== header =====*/
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.5s;
}

/*===== navigation =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 0;
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.4s;
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.nav__link, .nav__logo, .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* active link */
.active-link {
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/*===== profile =====*/
.profile {
  position: relative;
  padding-top: 3.5rem;
}
.profile__container {
  row-gap: 2rem;
}
.profile__data {
  display: grid;
  text-align: center;
}
.profile__border {
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}
.profile__perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile__perfil img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.profile__name {
  font-size: var(--h2-font-size);
  text-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
}
.profile__profession {
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
}
.profile__social {
  display: flex;
  justify-content: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
.profile__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: 0.3s;
}
.profile__social-link:hover {
  color: var(--first-color);
}
.profile__info {
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.profile__info-group {
  text-align: center;
}
.profile__info-number {
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
}
.profile__info-description {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}
.profile__buttons, .profile__buttons-small {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__buttons {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.profile__buttons-small {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

/*===== buttons =====*/
.buttons {
  display: inline-block;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background-color: var(--first-color);
  color: #1A1A1A;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  font-weight: var(--font-semi-bold);
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
  transition: 0.3s;
}
.buttons i {
  font-size: 1.25rem;
}
.buttons:hover {
  background-color: var(--first-color-alt);
  color: var(--body-color);
}
.buttons--music-play {
  color: var(--container-color);
  margin-left: 5px;
  height: 50px;
  width: 50px;
  padding: 0;
  font-size: 16px;
  -webkit-animation: pulse_01 2s ease infinite;
          animation: pulse_01 2s ease infinite;
}
.buttons--music-play i {
  color: var(--container-color);
  line-height: 50px;
}
.buttons--ghost {
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}
.buttons--ghost:hover {
  color: var(--container-color);
}
.buttons__header {
  display: none;
}
.buttons-link {
  background: none;
  padding: 0;
  color: var(--title-color);
}
.buttons-link:hover {
  background-color: transparent;
}
.buttons-flex {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  padding: 0.75rem 1rem;
}
.buttons__icon {
  font-size: 1.5rem;
}

/* discord */
.discord {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem;
  box-shadow: none;
  border-radius: 0.5rem;
  background-color: var(--text-color-lighten);
  color: var(--title-color);
}

/*===== filters =====*/
.filters {
  /* hide and show projects & skills */
  /* activate button of filter */
}
.filters__content {
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-lighten);
  padding: 0.375rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.filters__button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}
.filters__button:hover {
  background-color: var(--body-color);
}
.filters [data-content] {
  display: none;
}
.filters__active[data-content] {
  display: grid;
}
.filters-tab-active {
  background-color: var(--body-color);
}

/*===== projects =====*/
.projects__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}
.projects__grid .thumbnail {
  height: 250px;
  width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 8px 24px var(--popup-box-shadow);
  cursor: pointer;
  overflow: hidden;
}
.projects__grid .thumbnail img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s linear;
}
.projects__grid .thumbnail:hover img {
  transform: scale(1.1);
}

/*===== skills =====*/
.skills__content {
  row-gap: 3.5rem;
}
.skills__title {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}
.skills__box {
  display: flex;
  justify-content: center;
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
}
.skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}
.skills__data {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.skills__data i {
  font-size: 1rem;
  color: var(--first-color);
}
.skills__name {
  font-size: var(--normal-font-size);
  font-weight: 500;
  line-height: 18px;
}
.skills__time {
  font-size: var(--smaller-font-size);
}

/*===== scroll up =====*/
.scrollup {
  position: fixed;
  background: var(--first-color);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;
}
.scrollup:hover {
  background-color: var(--first-color);
  opacity: 1;
}
.scrollup__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

/* show scroll up */
.show-scroll {
  bottom: 3rem;
}

/*===== footer =====*/
.footer__c {
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*===== breakpoints =====*/
/*===== for small devices =====*/
@media screen and (min-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .profile__info {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .profile__button {
    flex-direction: column;
    row-gap: 1rem;
  }
  .projects__content {
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .skills__box {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
/*===== for medium devices =====*/
@media screen and (min-width: 576px) {
  .projects__content {
    top: 2.5rem;
    right: 2.5rem;
  }
  .filters__content {
    width: 332px;
    margin: 3rem auto;
  }
  .footer__c {
    margin: 4.5rem 0 2.5rem;
  }
}
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    flex-direction: row;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
  .nav__toggle {
    display: none;
  }
  .change-theme {
    position: initial;
  }
  .projects__content {
    grid-template-columns: repeat(2, 332px);
  }
  .skills__content {
    justify-content: center;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .footer__c {
    margin: 4.5rem 0 2.5rem;
  }
}
/*===== for large devices =====*/
@media screen and (min-width: 968px) {
  .button__header {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .profile {
    padding-top: 4rem;
  }
  .profile__border {
    width: 135px;
    height: 135px;
    margin-bottom: 1rem;
  }
  .profile__perfil {
    width: 120px;
    height: 120px;
  }
  .profile__perfil img {
    width: 120px;
    height: 120px;
  }
  .profile__profession {
    margin-bottom: 1.5rem;
  }
  .profile__info {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .profile__info-description {
    font-size: var(--small-font-size);
  }
  .profile__button {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .profile__content {
    gap: 2rem 2.6rem;
  }
  .skills__title {
    font-size: var(--normal-font-size);
    margin-bottom: 2.3rem;
  }
  .skills__box {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
  .footer__c {
    margin: 4.5rem 0 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .scrollup {
    right: 2rem;
  }
}/*# sourceMappingURL=style.css.map */